/* Page Header */

.header {
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
   box-sizing: border-box;
   padding: 0px 165px 0px 165px;
}

/* Navigation */

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 245px;
   height: 24px;
}

.navigation__text {
   font-size: 14px;
   color: rgba(80, 95, 152, 1);
}

.text-logo {
   color: rgba(55, 68, 126, 1);
   font-size: 26px;
   font-weight: 900;
   padding-right: 70px;
}

.header__button-small {
   height: 26px;
   width: 160px;
   background: rgba(17, 27, 71, 1);
   color: white;
}